name: CI/CD Pipeline

on:
  push:
    branches: [ Docker ]
  pull_request:
    branches: [ Docker ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Create domain
      run: |
        curl -d "srv=${{ secrets.SERVER_ID }}&key=${{ secrets.HOSTING_API_KEY }}&port=80&domain=p2paw.bieda.it" https://api.mikr.us/domain

    - name: Build and run docker-compose
      run: |
        docker-compose up -d

    - name: Run tests
      run: |
        echo "Running tests"
        # Insert your commands to run tests here

    - name: Deploy to VPS
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VPS_IP }}
        username: ${{ secrets.VPS_USERNAME }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        port: 10522
        script: |
          pwd
          cd Image-gallery
          docker compose up -d

    - name: Cleanup
      if: always()
      run: docker-compose down
